<a href="https://colab.research.google.com/github/ShiviRaghu/PracticeCode/blob/feature_branch/Class1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Printing statement**

1. print (" ") or print(' ')
2. " " or ' ' only 1 can be print,if many then last
3. multiLine ("""
""")
4. " "
print(" ")  # only print last line with print   / " " if its at the last
5.####comment

In [ ]:
print("hello world")
print('hello')
print("revision")
print('single slash')
print("2nd revision")
print('ijhucfghjk')

hello world
hello
revision
single slash
2nd revision
ijhucfghjk

In [ ]:
"abc"
"def"
"last line"
'last last line'
"laldkfkvkklkl"
'sdfhjkl'

'sdfhjkl'

In [ ]:
print("""abc
def""")

print("""
1st lline
2nd line

""")

#print(""
#abc
#def
#ghi
#"")


print("""
xdfcghjkl
fcvghjkl;
fcghjkl
""")

"""
"adcsc"
"""

abc
def

1st lline
2nd line



xdfcghjkl
fcvghjkl;
fcghjkl

'\n"adcsc"\n'

In [ ]:
 "morning"
 print("xcvbhnm")
 print("""
 sdfghjkl
 zsdfhjkl
 sdfkl
 """)
'modfghk'
"asdfghjkl;"

xcvbhnm

sdfghjkl
zsdfhjkl
sdfkl

'asdfghjkl;'

In [ ]:
"morning"
print("good")
"asdfghjko"

good

'asdfghjko'

# comment line

1. #
2. multiline comment """
""" with **print at last otherwiise this will print**

In [ ]:
"""
jij
kjkj
"""

'\njij\nkjkj\n'

In [ ]:
 """
Say Hi
To the students
"""
print("hello")

hello

In [ ]:
#hii
"""xcfgvhbjkl
xdfcghjkl
xcvb
"""
print("szhjkl")

szhjkl

In [ ]:
#hiii
"""sgdfg
fgfggf
gfhgj
"""
"kjk"

'kjk'

# Print in double quotes

1. (" 'xyz ' ")
2. (' "xyz" ')
3. (""" "xyz"! """)
4. (""" "xyz" """)
4. (""" \"xyz\" """)

In [ ]:
 print("my name is 'xyz' ")

my name is 'xyz'

In [ ]:
print(" ' i m cool ' ")
print(' " i m cool" ')
print(""" 'i m ok' """)
print(""" ""i  m ok"" """)

 ' i m cool '
 " i m cool"
 'i m ok'
 ""i  m ok""

In [ ]:
 print('my name is "shici" ')

my name is "shici"

In [ ]:
 print("""my name is 'shici' """)

my name is 'shici'

In [ ]:
 print("""my name is 'shici'! """)

my name is 'shici'!

In [ ]:
 print("""my name is "shici"! """)

my name is "shici"!

In [ ]:
 print("""my name is "shici" """)

my name is "shici"

In [ ]:
 print("""my name is \'shici\' """)

my name is 'shici'

In [ ]:
 print("my name is \"shici\" ")

my name is "shici"

# **calci**

In [ ]:
1+2

3

In [ ]:
12*12

144

In [ ]:
12/123

0.0975609756097561

In [ ]:
print(12**2) ####    ** = power of n
print(2**8)

print(2**3)

144
256
8

In [ ]:
(-12)**3 ###negative power ##power of 3

-1728

In [ ]:
124%12     #modulus ---remainder

4

In [ ]:
print(1234%12)
print("result")

10
result

In [ ]:
1234%12
print("result")

result

#variables in python

In [ ]:
x=10
y=20
print(x)
print(x+y)

10
30

## 1. variable name start with alphabets**

In [ ]:
ten=10
tenn_num=122

### 2. not contain sp chars @#$%^&*()! except_

In [ ]:
ten* =10

SyntaxError: ignored

In [ ]:
ten(% =23)

SyntaxError: ignored

In [ ]:
ten/nu, =12

SyntaxError: ignored

### 3.can cotain number but can't start with it

In [ ]:
ten12 =123

In [ ]:
12tehnkk =90

SyntaxError: ignored

## 4. not rule but should start with small letter in variable

In [ ]:
Ten = 10

In [ ]:
ten num =233

SyntaxError: ignored

In [ ]:
ten_num = 123

In [ ]:
_num =10 #####hidden  ###not visible to end user (in black box)
print(_num)

10

In [ ]:
_ = 10 ######dummy variable
print(_)

10

In [ ]:
xyz =10;
print(xyz)
z_o = 1000;
z_o

10

1000

# data types

## integer

In [ ]:
a =123
type(a)

int

In [ ]:
a =9089009756789
type(a)

int

## floats

In [ ]:
p =12.789
type(p)

float

In [ ]:
p=22/7
type(p)

float

In [ ]:
p=2.00
type(p)

float

In [ ]:
p =12/2
print(p)
type(p)

6.0

float

## Complex number

In [ ]:
a =1+2j
print(a)
b = 3.123+3j
b

(1+2j)

(3.123+3j)

In [ ]:
type(a)

complex

In [ ]:
print(a.real)
b.real

1.0

3.123

In [ ]:
a.imag
b.imag

3.0

In [ ]:
"""
a ="sfdfd"
type(a)
"""

a ='sdfghjk'
print(type(a))
b='a'
type(b)
b1="sdfgvhbjn"
type(b1)

<class 'str'>

str

## dynamic typing  ---override value as well as data type

In [ ]:
a =12
print(type(a))
a =12.2
print(type(a))
a ="shici"
type(a)
a

<class 'int'>
<class 'float'>

'shici'

## Strong Typing -- concat same data type or use   " " or ' '

In [ ]:
"shivi"+01

SyntaxError: ignored

In [ ]:
"shivi"+"01"

'shivi01'

In [ ]:
'shivi' +'01'

'shivi01'

In [ ]:
'11233'+'23232'

'1123323232'

In [ ]:
'123242' +"0.132432"

'1232420.132432'

In [ ]:
name ="abha"
print("my name is " + name ) ##rarely used
zy =  10
print("number " + zy)

my name is abha
number 10

In [ ]:
name ="abjjkbha"
age = 123
print(f"my name is {name} and age is {age} ") ##mostly used ##f---fromatted string method
##print("my name is " + name  + "and age is " + age)
print ()

my name is abjjkbha and age is 123

TypeError: ignored

In [ ]:
a ="shhic"
b =123;
print(f"a is {a} and b is {b}")
print(f"value of a is = {a} and value of b is = {b}")

a is shhic and b is 123
value of a is = shhic and value of b is = 123

In [ ]:
name ="abha"
age =789
print("my name is {} and age is {}".format(name,age)) ##old way

my name is abha and age is 789

In [ ]:
a=121
b=1323
c=a+b
f"sum of a= {a} and b={b} is equal to {c}"

'sum of a= 121 and b=1323 is equal to 1444'

In [ ]:
a=123
b=145
c =a/b
print(f" division of {a} / {b} = {c}")

 division of 123 / 145 = 0.8482758620689655

In [ ]:
a =123;
b =1324;
c =a+b;
print(f"sum of {a} + {b} = {c}")

sum of 123 + 1324 = 1447

## boolean

In [ ]:
x=113
b=678
c=x>b
type(c)
print(type(c))

<class 'bool'>

# Revision

In [ ]:
print("my nam is shivi")
"shivi"
"sfdsgdg"
print('abxc')
print("""avc""")
#print(""""sfdsfgs"""")
print("""one
two
three""")
"adada"

#cvfgfgf
"""jkjl dfdsfd dfdgfd """
"xbcdf"

print("hi is an 'important' ")
print('hi is an "important" ')
print("""hi is an 'important' """)
print("""hi is an "important" """)
print("hi is an \"important\" ")

In [ ]:
2+3
2*3
2**3
z = 13243
z_o =131
zds =12
_ =1324

In [ ]:
a =123
type(a)
print(type(a))
a =12/6
print(type(a))
a =123+2.455j
print(type(a)); print(a)

<class 'int'>
<class 'float'>
<class 'complex'>
(123+2.455j)

In [ ]:
a =12
b=14
print (f"num 1 = {a} and num 2 is {b} and sum = {a+b}")

a,c,d,e = 1,543,3.454,"sfsdf"
print(type(a))
print(type(c))
print(type(e))
print(type(d))
a=b=c=d=120
a,a =10,12
a

num 1 = 12 and num 2 is 14 and sum = 26
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

12

In [ ]:
print ="sdfsf"

del print
print("sdfd")

In [ ]:
"""input("")
a = int(input("value of a = "))
b = int(input("value of b = "))
print (f"num 1 = {a} and num 2 is {b} and sum = {a+b}")"""

a1= "100"
type(a1)
a1 =int(a1)
type(a1)

a1= "100.10"
type(a1)
#a1 =int(a1)
type(a1)

a1= 100.10
type(a1)
a1 =int(a1)
type(a1)

a1= 100
type(a1)
a1 =float(a1)
type(a1)

a1= 100
type(a1)
a1 =bool(a1)
print(type(a1))
print(a1)

a1= "100"
type(a1)
a1 =bool(a1)
type(a1)

<class 'bool'>
True

bool