<a href="https://colab.research.google.com/github/ShiviRaghu/PracticeCode/blob/feature_branch/class2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AGENDA
1. Variable Case senstivity [clear]
2. Reserved words in Python [clear]
3. Multi assignment of variables [clear]
4. User input [clear]
5. type casting | type conversion [Doubt at the end]
6. Memory block []
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance classes]
  - Operators for sets and dictionary [Advance classes]

8. String methods

## Variable Case senstivite
case sensitive ten and Ten are different

In [ ]:
Ten =10
ten=20
print(ten)
print(Ten)

20
10

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
 def       for       lambda    try

In [ ]:
print = "hi"
type(print)

#print("hi")

str

In [ ]:
del print  ##del --to retrieve print or use restart

## Multi assignment of variables

In [ ]:
a,b,c,d = 's',12.3,"adsd",True
print(type (a))
print(type(d))

<class 'str'>
<class 'bool'>

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
print(a,b,c,d)

10 12.3 adsd True

In [ ]:
a=b=c=1312
a,b,c

(1312, 1312, 1312)

In [ ]:
name,age,city ="abha","agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

my name is abha
my age is agra
my city is 12

In [ ]:
class_name,date = "python",23
print(f"""
class name is {class_name}
and date is {date}
""")

name is python
and date is 23

In [ ]:
name,city,age =input("name : "),"agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

name : 124
my name is 124
my age is 12
my city is agra

In [ ]:
a,a =10,12
print(a)
print(a)

12
12

## User input

user takes in form of string therefore we need to convert to int etc

In [ ]:
name = input ("enter you name ")

print(f"my name is {name}")

enter you name adsd
my name is adsd

In [ ]:
a ,b = input(" value of a = ") , input("value of b = ")
print(f"sum of a + b = {a + b}")
print(type(a),type(b))

 value of a = 1
value of b = 2
sum of a + b = 12
<class 'str'> <class 'str'>

## type casting | type conversion

In [ ]:
a = int(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 12
enter num b 12
<class 'int'> <class 'int'>
sum of num is 24

In [ ]:
from traitlets.traitlets import Float
a = float(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 12
enter num b 12
<class 'float'> <class 'int'>
sum of num is 24.0

In [ ]:
a = int(input("enter value of a = "))
b = int(input ("enter value of b = "))
print(f"sum of a + b = {a+b}")

enter value of a = 12
enter value of b = 13
sum of a + b = 25

In [ ]:
### String ----> to integer====only numbers
A = "100"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 100
data type after: <class 'int'>, value of A: 100

In [ ]:
### String ----> to integer
A = "abc"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: abc

ValueError: ignored

In [ ]:
# String==in form of float to integer=====not possible
A = "50.23"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.23

ValueError: ignored

In [ ]:
# Float to integer
A = 13.34234
print(f"data type before {type(A)}, value of a : {A} ")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before <class 'float'>, value of a : 13.34234
data type after: <class 'int'>, value of A: 13

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [ ]:
# integer to boolean
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'bool'>, value of A: True

In [ ]:
##integer to boolean===for zero value will give you false
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [ ]:
##integer to boolean
A = -7890
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -7890
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "ada"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: ada
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "123"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 123
data type after: <class 'bool'>, value of A: True

In [ ]:
##empty String to boolean=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" and 00 int will give False as an answer after converting from string to boolean

In [ ]:
##empty String to int=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

In [ ]:
name,city,dob =input("name : "),input("city: "),input("dob: ")
age = 2023 - int(dob)
print(f"""my name is {name}
my city is {age}
my age is {city}
my current age is : {age} """)

name : shi
city: sfsd
dob: 1997
my name is shi
my city is 26
my age is sfsd
my current age is : 26

In [ ]:
a = input("value of a = ")
b = input ("value of b = ")
print(f"sum a + b =  {int(a) + int (b)}" )

value of a = 12
value of b = 123
sum a + b =  135

## memory block

In [ ]:
a =23
b =1324
c = 23
print(id(a))
print(id(b))
print(id(c))

140209328309168
140208900116400
140209328309168